section#board{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    max-width: 400px;
    margin: auto;
}

section#board .board-pixel{
    background-color: #393e46;
    width: calc(100vw/20);
    height: calc(100vw/20);
    transition: box-shadow 2s;
}



section#board .board-pixel[treat='1']{
    background-color: #eeeeee;
    /* box-shadow: #eeeeee 0 0 30px 3px; */
    animation: treat-shadow 6s infinite;
    z-index: 99;
}

section#board .board-pixel[snakepiece='1']{
    background-color: #32e0c4;
    box-shadow: #32e0c4 0 0 30px 3px;
    z-index: 100;
}

@media screen and (min-width: 400px){
    section#board .board-pixel{
        width: calc(400px/20);
        height: calc(400px/20);
    }
}

@keyframes treat-shadow {
    0%{
        box-shadow: #eeeeee 0 0 0px;
    }
    50%{
        box-shadow: #eeeeee 0 0 30px 3px;
    }
    100%{
        box-shadow: #eeeeee 0 0 0px;
    }
}