section#controls{
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    position: absolute;
    bottom: 0;
    left: calc(50% - 90px);
}

section#controls button{
    display: block;
    background-color: white;
    border: 1px solid blue;
}